<footer>
<div class="cabecalho">
    <div class="bandeiras">
        <h6>Formas de Pagamento</h6>
        <img src="/assets/imagens/MasterCard.svg" alt="bandeira da master card" >
        <img src="/assets/imagens/visa.svg" alt="bandeira visa">
        <img src="/assets/imagens/american.svg" alt="bandeira" >
        <img src="/assets/imagens/cielo.svg" alt="bandeira cielo" >
        <img src="/assets/imagens/pixx.svg" alt="bandeira pix">
    </div>
    <div class="incostitucional">
        <h6>incostitucional</h6>
        <div class="colunas-incos">
        <div class="primeira-coluna">
            <ul>
                <li> <a href="http://" target="_blank" rel="noopener noreferrer"> Codigo de Defesa do Consumidor.</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer"> Politica de Privacidade.</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Politicas do Site.</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">ISO 9001.</a></li>
            </ul>
        </div>
        <div class="segunda-coluna">
            <ul>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Sobre a Game Mania.</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Nossa Missão, Visão e Valores.</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Nossas Lojas.</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Trabalhe Conosco.</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="contatos">
        <h6>Contatos</h6>
        <ul>
            <li>(85) 3299-9999</li>
            <li>(85) 98888-8888</li>
            <li>gamemania@email.com</li>
        </ul>
    </div>
    <div class="redes-sociais">
        <h6>Redes Sociais</h6>
        <img src="/assets/imagens/facebook.png" alt="icon do facebook ">
        <img src="/assets/imagens/twitter.png" alt="icon do twitter">
        <img src="/assets/imagens/instagram.png" alt="icon do instagram">
    </div>    
</div>
</footer>