<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/imagens/secao01.png" class="d-block w-100" alt="Ofertas inéditas">
        </div>
        <div class="carousel-item">
            <img src="/assets/imagens/secao02.png" class="d-block w-100" alt="Cliente fidelizado">
        </div>
        <div class="carousel-item">
            <img src="/assets/imagens/secao01.png" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div>
<h3 class="section-name">PCs Gamer</h3>        
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper" >    
                <div class="card">
                    <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color: #FFF;"> 
                    <h4> R$ 2.999,99 </h4>
                    <h6> Á VISTA</h6>  OU 10x de 
                    R$ 299,99
                    </li>
                    </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
            </div>
        </div>            
        <div class="carousel-item">
            <div class="cards-wrapper" >      
                <div class="card">
                    <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
            </div>
        </div>    
        <div class="carousel-item">
            <div class="cards-wrapper" >      
                <div class="card">
                    <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> 	Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text"> Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
                <div class="card">
                    <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">	Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 2.999,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 299,99
                        </li>
                        </ul>
                </div>
            </div>     
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        
    </div>
</div>
</div>
    <div>
    <h3 class="section-name">Cadeira Gamer</h3>
        <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper" >    
                    <div class="card">
                        <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="imagem de cadeira gamer">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 789,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 78,99
                        </li>
                        </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                        </div>
                        <ul class="./list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                            <h4> R$ 699,99 </h4>
                            <h6> Á VISTA</h6>  OU 10x de 
                            R$ 69,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                            <h4> R$ 587,99 </h4>
                            <h6> Á VISTA</h6>  OU 10x de 
                            R$ 58,79
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                            <h4> R$ 599,99 </h4>
                            <h6> Á VISTA</h6>  OU 10x de 
                            R$ 59,99
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper" >      
                    <div class="card">
                        <img src="/assets/imagens/cadeira02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                            <h4> R$ 789,99 </h4>
                            <h6> Á VISTA</h6>  OU 10x de 
                            R$ 78,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 789,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 78,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 789,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 78,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                        <h4> R$ 789,99 </h4>
                        <h6> Á VISTA</h6>  OU 10x de 
                        R$ 78,99
                            </li>
                            </ul>
                    </div>
                </div>
            </div>    
            <div class="carousel-item">
                <div class="cards-wrapper" >      
                    <div class="card">
                        <img src="/assets/imagens/cadeira03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 699,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 69,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 699,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 69,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">Cadeira Gamer Reclinável Strike Healer Preto...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 699,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 69,99
                            </li>
                            </ul>
                    </div>
                    <div class="card">
                        <img src="/assets/imagens/cadeira03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">Cadeira Gamer Reclinável Strike Healer Preto....</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 699,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 69,99
                            </li>
                            </ul>
                    </div>
                </div>     
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            
        </div>    
        </div>
        </div>
        <div id="maissecao">
        
            <h3 class="section-name">Celulares</h3>
                <div id="carouselCControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cards-wrapper" >    
                            <div class="card">
                                <img src="/assets/imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                <div class="card-body">
                                <p class="card-text">Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 789,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 78,99
                                </li>
                                </ul>
                            </div>
                            <div class="card">
                                <img src="/assets/imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="./list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                    <h4> R$ 699,99 </h4>
                                    <h6> Á VISTA</h6>  OU 10x de 
                                    R$ 69,99
                                    </li>
                                    </ul>
                            </div>
                            <div class="card">
                                <img src="/assets/imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                    <h4> R$ 587,99 </h4>
                                    <h6> Á VISTA</h6>  OU 10x de 
                                    R$ 58,79
                                    </li>
                                    </ul>
                            </div>
                            <div class="card">
                                <img src="/assets/imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                    <h4> R$ 599,99 </h4>
                                    <h6> Á VISTA</h6>  OU 10x de 
                                    R$ 59,99
                                    </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cards-wrapper" >      
                            <div class="card">
                                <img src="/assets/imagens/celular02.png" class="card-img-top" alt="imagem de celular">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                    <h4> R$ 789,99 </h4>
                                    <h6> Á VISTA</h6>  OU 10x de 
                                    R$ 78,99
                                    </li>
                                    </ul>
                            </div>
                            <div class="card">
                                <img src="/assets/imagens/celular02.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 789,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 78,99
                                    </li>
                                    </ul>
                            </div>
                            <div class="card">
                                <img src="/assets/imagens/celular02.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 789,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 78,99
                                    </li>
                                    </ul>
                            </div>
                            <div class="card">
                                <img src="/assets/imagens/celular02.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #FFF;"> 
                                <h4> R$ 789,99 </h4>
                                <h6> Á VISTA</h6>  OU 10x de 
                                R$ 78,99
                                    </li>
                                    </ul>
                            </div>
                        </div>
                    </div>    
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
                    <div>
                        <h3 class="section-name">Monitor</h3>
                            <div id="carouselMControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="cards-wrapper" >    
                                        <div class="card">
                                            <img src="/assets/imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="color: #FFF;"> 
                                            <h4> R$ 789,99 </h4>
                                            <h6> Á VISTA</h6>  OU 10x de 
                                            R$ 78,99
                                            </li>
                                            </ul>
                                        </div>
                                        <div class="card">
                                            <img src="/assets/imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="./list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                                <h4> R$ 699,99 </h4>
                                                <h6> Á VISTA</h6>  OU 10x de 
                                                R$ 69,99
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="card">
                                            <img src="/assets/imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                                <h4> R$ 587,99 </h4>
                                                <h6> Á VISTA</h6>  OU 10x de 
                                                R$ 58,79
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="card">
                                            <img src="/assets/imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                                <h4> R$ 599,99 </h4>
                                                <h6> Á VISTA</h6>  OU 10x de 
                                                R$ 59,99
                                                </li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="cards-wrapper" >      
                                        <div class="card">
                                            <img src="/assets/imagens/monitor02.png" class="card-img-top" alt="imagem de celular">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                                <h4> R$ 789,99 </h4>
                                                <h6> Á VISTA</h6>  OU 10x de 
                                                R$ 78,99
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="card">
                                            <img src="/assets/imagens/monitor02.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                            <h4> R$ 789,99 </h4>
                                            <h6> Á VISTA</h6>  OU 10x de 
                                            R$ 78,99
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="card">
                                            <img src="/assets/imagens/monitor02.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                            <h4> R$ 789,99 </h4>
                                            <h6> Á VISTA</h6>  OU 10x de 
                                            R$ 78,99
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="card">
                                            <img src="/assets/imagens/monitor02.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style="color: #FFF;"> 
                                            <h4> R$ 789,99 </h4>
                                            <h6> Á VISTA</h6>  OU 10x de 
                                            R$ 78,99
                                                </li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>    
                                
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselMControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
    </div>
</div>
</div>
</div>

<a id="botao"><img src="/assets/imagens/expandir_botao.png" alt="Expandir pagina"></a>            

<div class="bola-flutuante1"> 
    <a href="#"><p class="div-text">Redes Sociais</p></a>
</div>

<div class="bola-flutuante2"> 
    <a href="#"><p class="div-text">Contatos</p>
    <img src="/assets/imagens/iconRedesSociais.png" alt="icon de telefone">
    </a>
</div>