<div class="formulario-de-login">
    <form (ngSubmit)="receberDados()">
    <div class="content">
        <label for="email" class="titulo-login">E-mail:</label> 
        <input id="arealogin" class="input-login" type="email" name="email" placeholder="Ex.: email@email.com" [(ngModel)]="userModel.email">
        
        <label for="senha" class="titulo-login"> Senha:</label> 
        <input id="areasenha" class="input-login" type="password" name="senha" placeholder="Sua senha aqui..." [(ngModel)]="userModel.password" >
        
        <input id="botao-enviar" type="submit" value="Enviar" />

        <a href="#" class="titulo-login">
            <p class="link-cadastro">Não tem uma conta? Cadastre-se aqui.</p>
        </a>
    </div>
    </form>

<p id="mensagem" style="text-align: center; color: #FFF;" *ngIf=" mensagem != '' && mensagem != logado "> {{ mensagem }} </p>
<p id="mensagem" style="text-align: center; color: rgb(42, 239, 12);" *ngIf="mensagem == logado"> {{ logado }} </p>

<!-- <p *ngIf=" usuarioLogado != '' ">{{ usuarioLogado }}</p> -->
</div>