main {
    background-color: #000000 !important;
}
/* main {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
} */

    /* estilos para o menu */
.navbar {
    background-color: #0D1F4D;
}
header {
    background-color: #0D1F4D;
}


button#button-addon1 {
    background-color: #FFFFFF !important;
    background:url(/assets/imagens/lupa.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1em;
    padding-right: 0.5em !important;
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
}
.form-control {
    border-top-right-radius: 3rem !important;
    border-bottom-right-radius: 3rem !important;
}

.logo img {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.nav-item img{
    padding-top: 20px !important;
}
.link {
    list-style-type: none;
}
.link li {
    color: #20c997 !important;
}
.navbar-toggler {
    margin-left: 80px !important;
}
.navbar-toggler {
    display: none !important;
}

.navbar-toggler-icon {
    background-image: url(/assets/imagens/menu_white_36dp.svg) !important;
    }

.navbar-toggler {
        border-color: #20c997 !important;
    }
    /* tornando o menu responsivo */
@media (max-width: 798px) {

    .log-cad {
        display: none !important;
    }

    .nav-item img{
        padding-top: 10px !important;
    }
    
}

@media (max-width: 601px) {
    
    .navbar-toggler {
        display: block !important;
    }
    
    .nav{
        display: none !important;
    }
    .navbar-toggler {
        margin-left: 30px !important;
    }
}
   /* estilo para carrossel principal */

    .carousel-indicators button {
        height: 10px !important;
        width: 10px !important;
        margin: 0 10px !important;
        border-radius: 100%;
        background-color: #FFFFFF !important;
    }

    /* estilos para secao de produtos */
.section-name {
    color: #FFF;
    margin: 1rem;
}
.carousel-control-prev-icon {
    background-image: url(/assets/imagens/prevbottom.svg) !important;
}
.carousel-control-next-icon {
    background-image: url(/assets/imagens/nextbottom.svg) !important;
}
.card {
    background-color: #000000 !important;
}
.list-group-item {
    background-color: #000000 !important;
}
.card-text {
    color: #FFFFFF;
}
li .list-group-item h4 h6 {
    color: #FFFFFF ;
}

@media screen and (min-width:750px) {
    .cards-wrapper {
        display: flex !important;
    }
    .cards-wrapper {
        margin: 1rem;
    }
    .card {
        margin: 0.5rem;
        width: calc(100%/4);
    }
    .bola-flutuante1 {
        z-index: 1;
        position: fixed;
        bottom:10px;
        right:10px;
        width: 80px;
        height: 80px;
        background-color: #D4070B !important;
        border-radius: 3rem;
        opacity: 0.8;
    }
    
    .bola-flutuante2 {
        z-index: 1;
        position: fixed;
        bottom:95px;
        right:10px;
        width: 80px;
        height: 80px;
        background-color: #D4070B !important;
        border-radius: 3rem;
        opacity: 0.8;
    }
    
    .bola-flutuante2 img {
        padding-left: 1rem; 
    }
    
    .div-text {
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 0;
    }
    .bola-flutuante1 a {
        color: #FFF;
        text-decoration-line: none;
    }
    .bola-flutuante2 a {
        color: #FFF;
        text-decoration-line: none;
    }
    #maissecao {
        display: none;
    }
    
}


@media screen and (max-width:750px) {
    .card:not(:nth-child(even)){
        display: none;
    }
    .cards-wrapper {
        display: flex !important;
        margin: 0.5rem;
    }
    .card {
        margin: 0.2rem;
    }
    .bola-flutuante1 {
        display: none;
    }
    .bola-flutuante2 {
        display: none;
    }
}
    /* estilos para o rodape */
footer {
    background-color: #0D1F4D;
}

.cabecalho {
    margin-left: 1rem;
}
.cabecalho h6 {
    color: #FFF;
}

.cabecalho li {
    color: #FFF;
}
.primeira-coluna li {
    list-style: none;
}
.segunda-coluna li {
    list-style: none;
}
.primeira-coluna a {
    color: #FFF;
    text-decoration-line: none;
}
.segunda-coluna a {
    color: #FFF;
    text-decoration-line: none;
}
.contatos li {
    list-style: none;
}

@media screen and (min-width:613px) {
    .cabecalho {
        display: flex;
    }
    .colunas-incos {
        display: flex;
    }
    .cabecalho {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 2rem;
    }
    .bandeiras h6{
        padding-left: 1.8rem;
    }
    .incostitucional h6 {
        padding-left: 5.8rem;
    }
    .contatos h6 {
        padding-left: 1.8rem;
    }
}
    /* estilizando a pagina de login */
.formulario-de-login {
    background-color: #0D1F4D;
    position: relative;
    margin: 0 auto;
    margin-top: 8rem;
    width: 230px;
    height: 230px;
    color: #FFF;
    border-radius: 1rem;
}
.titulo-login {
    width: 200px;
    margin: 0;
    color: #FFF;
}
.link-cadastro {
    color: #FFF;
}
.login-botao {
    background-color: #D4070B;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}
.content {
    padding-top: 1rem;
    padding-left: 1rem;
}
.input-login {
    border-radius: 0.3rem;
}

#bts {
    display: flex;
    justify-content: center;
    color: #FFF;
}
div.contatos ul {
    word-break: break-word;
}