<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <nav class="navbar" >
      <div class="d-flex">
          <a class="logo" href="index.html"> <img  src="/assets/imagens/logo.png" class="img-fluid" alt="logo Game Mania"> </a>
          <div class="input-group align-self-center w-75">
              <button class="btn" type="button" id="button-addon1"></button>
              <input type="text" class="form-control"aria-label="button addon" aria-describedby="button-addon1">
          </div>
          <div class="align-self-center">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </div>

      <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link img-fluid" href="#"> <img src="/assets/imagens/favorites4.png" alt="Botão de favoritos"> </a>
          </li>
          <li class="nav-item">
              <a class="nav-link img-fluid" href="#"><img src="/assets/imagens/cart4.png" alt="carrinho de compras"></a>
          </li>
          <li class="nav-item">
              <a class="nav-link img-fluid" href="./login.html"><img src="/assets/imagens/boneco4.png" alt="Botão de login"></a>
          </li>
          <li class="nav-item log-cad">
              <a class="nav-link text-center text-md-center text-xl-center" href="login.html" id="logcad">
                  <ul class="link">
                      <li>Faça seu Login</li>
                      <li>ou</li>
                      <li>Cadastre-se</li>
                  </ul>
              </a>
          </li>
      </ul>

      <!-- menu para mobile: -->

      <div class="offcanvas offcanvas-end text-bg-success" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"> Bem-vindo(a) à Game Mania! </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="login.html">Login</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">Favoritos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Carrinho</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contate-nos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Nossas Redes Sociais</a></li>
                  <li>
                  <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Nossos telefones</a></li>
              </ul>
              </li>
          </ul>
          </div>
      </div>
      
  </nav>
</header>
  <main>
      <section>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/assets/imagens/secao01.png" class="d-block w-100" alt="Ofertas inéditas">
              </div>
              <div class="carousel-item">
                  <img src="/assets/imagens/secao02.png" class="d-block w-100" alt="Cliente fidelizado">
              </div>
              <div class="carousel-item">
                  <img src="/assets/imagens/secao01.png" class="d-block w-100" alt="...">
              </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
          </div>
      </section>

      <section>
  <h3 class="section-name">PCs Gamer</h3>        
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="cards-wrapper" >    
                      <div class="card">
                          <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                          <li class="list-group-item" style="color: #FFF;"> 
                          <h4> R$ 2.999,99 </h4>
                          <h6> Á VISTA</h6>  OU 10x de 
                          R$ 299,99
                          </li>
                          </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processado intel i5, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                  </div>
              </div>            
              <div class="carousel-item">
                  <div class="cards-wrapper" >      
                      <div class="card">
                          <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp02.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc gamer processador intel i7, 8gb, ssd 256Gb..</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                  </div>
              </div>    
              <div class="carousel-item">
                  <div class="cards-wrapper" >      
                      <div class="card">
                          <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> 	Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text"> Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                      <div class="card">
                          <img src="/assets/imagens/comp03.png" class="card-img-top" alt="...">
                          <div class="card-body">
                          <p class="card-text">	Pc Gamer Intel Core I7 4790-4.00 Ghz, 16GB...</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 2.999,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 299,99
                              </li>
                              </ul>
                      </div>
                  </div>     
              </div>
              
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
            </section>   
          <section>
          <h3 class="section-name">Cadeira Gamer</h3>
              <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="cards-wrapper" >    
                          <div class="card">
                              <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="imagem de cadeira gamer">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                              <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 789,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 78,99
                              </li>
                              </ul>
                          </div>
                          <div class="card">
                              <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                              </div>
                              <ul class="./list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                  <h4> R$ 699,99 </h4>
                                  <h6> Á VISTA</h6>  OU 10x de 
                                  R$ 69,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                  <h4> R$ 587,99 </h4>
                                  <h6> Á VISTA</h6>  OU 10x de 
                                  R$ 58,79
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="/assets/imagens/cadeira01.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Pink...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                  <h4> R$ 599,99 </h4>
                                  <h6> Á VISTA</h6>  OU 10x de 
                                  R$ 59,99
                                  </li>
                                  </ul>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="cards-wrapper" >      
                          <div class="card">
                              <img src="v/imagens/cadeira02.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                  <h4> R$ 789,99 </h4>
                                  <h6> Á VISTA</h6>  OU 10x de 
                                  R$ 78,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="./imagens/cadeira02.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 789,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 78,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="./imagens/cadeira02.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 789,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 78,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="./imagens/cadeira02.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Purple Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                              <h4> R$ 789,99 </h4>
                              <h6> Á VISTA</h6>  OU 10x de 
                              R$ 78,99
                                  </li>
                                  </ul>
                          </div>
                      </div>
                  </div>    
                  <div class="carousel-item">
                      <div class="cards-wrapper" >      
                          <div class="card">
                              <img src="./imagens/cadeira03.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 699,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 69,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="./imagens/cadeira03.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text"> Cadeira Gamer Reclinável Strike Healer Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 699,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 69,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="./imagens/cadeira03.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text">Cadeira Gamer Reclinável Strike Healer Preto...</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 699,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 69,99
                                  </li>
                                  </ul>
                          </div>
                          <div class="card">
                              <img src="./imagens/cadeira03.png" class="card-img-top" alt="...">
                              <div class="card-body">
                              <p class="card-text">Cadeira Gamer Reclinável Strike Healer Preto....</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 699,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 69,99
                                  </li>
                                  </ul>
                          </div>
                      </div>     
                  </div>
                  
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                  </button>
                </section>      
      <div id="maissecao">
              <section>
                  <h3 class="section-name">Celulares</h3>
                      <div id="carouselCControls" class="carousel slide" data-bs-ride="carousel">
                          <section class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="cards-wrapper" >    
                                  <div class="card">
                                      <img src="./imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                      <div class="card-body">
                                      <p class="card-text">Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                      <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 789,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 78,99
                                      </li>
                                      </ul>
                                  </div>
                                  <div class="card">
                                      <img src="./imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="./list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                          <h4> R$ 699,99 </h4>
                                          <h6> Á VISTA</h6>  OU 10x de 
                                          R$ 69,99
                                          </li>
                                          </ul>
                                  </div>
                                  <div class="card">
                                      <img src="./imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                          <h4> R$ 587,99 </h4>
                                          <h6> Á VISTA</h6>  OU 10x de 
                                          R$ 58,79
                                          </li>
                                          </ul>
                                  </div>
                                  <div class="card">
                                      <img src="./imagens/celular01.png" class="card-img-top" alt="imagem de celular">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                          <h4> R$ 599,99 </h4>
                                          <h6> Á VISTA</h6>  OU 10x de 
                                          R$ 59,99
                                          </li>
                                          </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="cards-wrapper" >      
                                  <div class="card">
                                      <img src="./imagens/celular02.png" class="card-img-top" alt="imagem de celular">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                          <h4> R$ 789,99 </h4>
                                          <h6> Á VISTA</h6>  OU 10x de 
                                          R$ 78,99
                                          </li>
                                          </ul>
                                  </div>
                                  <div class="card">
                                      <img src="./imagens/celular02.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 789,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 78,99
                                          </li>
                                          </ul>
                                  </div>
                                  <div class="card">
                                      <img src="./imagens/celular02.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 789,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 78,99
                                          </li>
                                          </ul>
                                  </div>
                                  <div class="card">
                                      <img src="./imagens/celular02.png" class="card-img-top" alt="...">
                                      <div class="card-body">
                                      <p class="card-text"> Celular UI23, 8gb, memória 256Gb...</p>
                                      </div>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" style="color: #FFF;"> 
                                      <h4> R$ 789,99 </h4>
                                      <h6> Á VISTA</h6>  OU 10x de 
                                      R$ 78,99
                                          </li>
                                          </ul>
                                  </div>
                              </div>
                          </div>    
                          
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselCControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselCControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                          </button>
                        </section>
                          <section>
                              <h3 class="section-name">Monitor</h3>
                                  <main id="carouselMControls" class="carousel slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                      <div class="carousel-item active">
                                          <div class="cards-wrapper" >    
                                              <div class="card">
                                                  <img src="./imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5  HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                  <li class="list-group-item" style="color: #FFF;"> 
                                                  <h4> R$ 789,99 </h4>
                                                  <h6> Á VISTA</h6>  OU 10x de 
                                                  R$ 78,99
                                                  </li>
                                                  </ul>
                                              </div>
                                              <div class="card">
                                                  <img src="./imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5 HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="./list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                      <h4> R$ 699,99 </h4>
                                                      <h6> Á VISTA</h6>  OU 10x de 
                                                      R$ 69,99
                                                      </li>
                                                      </ul>
                                              </div>
                                              <div class="card">
                                                  <img src="./imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5 HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                      <h4> R$ 587,99 </h4>
                                                      <h6> Á VISTA</h6>  OU 10x de 
                                                      R$ 58,79
                                                      </li>
                                                      </ul>
                                              </div>
                                              <div class="card">
                                                  <img src="./imagens/monitor01.png" class="card-img-top" alt="imagem de celular">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5 HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                      <h4> R$ 599,99 </h4>
                                                      <h6> Á VISTA</h6>  OU 10x de 
                                                      R$ 59,99
                                                      </li>
                                                      </ul>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="carousel-item">
                                          <div class="cards-wrapper" >      
                                              <div class="card">
                                                  <img src="./imagens/monitor02.png" class="card-img-top" alt="imagem de celular">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5 HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                      <h4> R$ 789,99 </h4>
                                                      <h6> Á VISTA</h6>  OU 10x de 
                                                      R$ 78,99
                                                      </li>
                                                      </ul>
                                              </div>
                                              <div class="card">
                                                  <img src="./imagens/monitor02.png" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5 HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                  <h4> R$ 789,99 </h4>
                                                  <h6> Á VISTA</h6>  OU 10x de 
                                                  R$ 78,99
                                                      </li>
                                                      </ul>
                                              </div>
                                              <div class="card">
                                                  <img src="./imagens/monitor02.png" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                  <h4> R$ 789,99 </h4>
                                                  <h6> Á VISTA</h6>  OU 10x de 
                                                  R$ 78,99
                                                      </li>
                                                      </ul>
                                              </div>
                                              <div class="card">
                                                  <img src="./imagens/monitor02.png" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                  <p class="card-text"> Monitor Led 18,5" HDMI VGA Widescreen 18.5...</p>
                                                  </div>
                                                  <ul class="list-group list-group-flush">
                                                      <li class="list-group-item" style="color: #FFF;"> 
                                                  <h4> R$ 789,99 </h4>
                                                  <h6> Á VISTA</h6>  OU 10x de 
                                                  R$ 78,99
                                                      </li>
                                                      </ul>
                                              </div>
                                          </div>
                                      </div>    
                                      
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselMControls" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselMControls" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                      </button>
                                    </section>
          </div>
</main>
          <a id="bts"><img src="imagens/expandir_botao.png" alt="Expandir pagina"></a>            

  <div class="bola-flutuante1"> 
      <a href="#"><p class="div-text">Redes Sociais</p></a>
  </div>

  <div class="bola-flutuante2"> 
      <a href="#"><p class="div-text">Contatos</p>
      <img src="imagens\iconRedesSociais.png" alt="icon de telefone">
      </a>
  </div>


  <footer>
  <div class="cabecalho">
      <div class="bandeiras">
          <h6>Formas de Pagamento</h6>
          <img src="imagens\MasterCard.svg" alt="bandeira master card" >
          <img src="imagens\visa.svg" alt="bandeira visa">
          <img src="imagens\american.svg" alt="bandeira" >
          <img src="imagens\cielo.svg" alt="bandeira cielo" >
          <img src="imagens\pixx.svg" alt="bandeira pix">
      </div>
      <div class="incostitucional">
          <h6>incostitucional</h6>
          <div class="colunas-incos">
          <div class="primeira-coluna">
              <ul>
                  <li> <a href="http://" target="_blank" rel="noopener noreferrer"> Codigo de Defesa do Consumidor.</a></li>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer"> Politica de Privacidade.</a></li>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer">Politicas do Site.</a></li>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer">ISO 9001.</a></li>
              </ul>
          </div>
          <div class="segunda-coluna">
              <ul>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer">Sobre a Game Mania.</a></li>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer">Nossa Missão, Visão e Valores.</a></li>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer">Nossas Lojas.</a></li>
                  <li><a href="http://" target="_blank" rel="noopener noreferrer">Trabalhe Conosco.</a></li>
              </ul>
          </div>
          </div>
      </div>
      <div class="contatos">
          <h6>Contatos</h6>
          <ul>
              <li>(85) 3299-9999</li>
              <li>(85) 98888-8888</li>
              <li>gamemania@email.com</li>
          </ul>
      </div>
      <div class="redes-sociais">
          <h6>Redes Sociais</h6>
          <img src="imagens\facebook.png" alt="icon do facebook ">
          <img src="imagens\twitter.png" alt="icon do twitter">
          <img src="imagens\instagram.png" alt="icon do instagram">
      </div>    
  </div>
  </footer>
  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

